In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/eguimard/DataStore/network/network.csv')

In [3]:
df

,in_packets,in_dropped,in_bytes,in_errors,name,out_packets,out_dropped,out_bytes,out_errors
0,1980412,10,154059720,0,eth0,3245808,0,1394285051,0
1,1980419,10,154060253,0,eth0,3245819,0,1394290514,0
2,1980428,10,154060913,0,eth0,3245834,0,1394295725,0
3,1980436,10,154061498,0,eth0,3245845,0,1394301255,0
4,1980444,10,154062112,0,eth0,3245859,0,1394306439,0
...,...,...,...,...,...,...,...,...,...
115,1981009,10,154105030,0,eth0,3246710,0,1394650444,0
116,1981018,10,154105690,0,eth0,3246725,0,1394655649,0
117,1981026,10,154106275,0,eth0,3246736,0,1394661145,0
118,1981034,10,154106889,0,eth0,3246750,0,1394666290,0
119,1981042,10,154107468,0,eth0,3246762,0,1394671823,0

In [4]:
df['in_packets'][0] =0

/tmp/ipykernel_11968/2218576647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['in_packets'][0] =0

In [5]:
df

,in_packets,in_dropped,in_bytes,in_errors,name,out_packets,out_dropped,out_bytes,out_errors
0,0,10,154059720,0,eth0,3245808,0,1394285051,0
1,1980419,10,154060253,0,eth0,3245819,0,1394290514,0
2,1980428,10,154060913,0,eth0,3245834,0,1394295725,0
3,1980436,10,154061498,0,eth0,3245845,0,1394301255,0
4,1980444,10,154062112,0,eth0,3245859,0,1394306439,0
...,...,...,...,...,...,...,...,...,...
115,1981009,10,154105030,0,eth0,3246710,0,1394650444,0
116,1981018,10,154105690,0,eth0,3246725,0,1394655649,0
117,1981026,10,154106275,0,eth0,3246736,0,1394661145,0
118,1981034,10,154106889,0,eth0,3246750,0,1394666290,0
119,1981042,10,154107468,0,eth0,3246762,0,1394671823,0

In [6]:
import numpy as np

In [7]:


df['in'] = df['in_dropped'] / df['in_packets']
df.loc[df['in'] == np.inf,'in'] = 0


df['out'] =  df['out_dropped']/ df['out_packets']
df.loc[df['out'] == np.inf,'out'] = 0

df['x'] =  df[['in','out']].max(axis=1)
df.head(n=50)

,in_packets,in_dropped,in_bytes,in_errors,name,out_packets,out_dropped,out_bytes,out_errors,in,out,x
0,0,10,154059720,0,eth0,3245808,0,1394285051,0,0.000000,0.0,0.000000
1,1980419,10,154060253,0,eth0,3245819,0,1394290514,0,0.000005,0.0,0.000005
2,1980428,10,154060913,0,eth0,3245834,0,1394295725,0,0.000005,0.0,0.000005
3,1980436,10,154061498,0,eth0,3245845,0,1394301255,0,0.000005,0.0,0.000005
4,1980444,10,154062112,0,eth0,3245859,0,1394306439,0,0.000005,0.0,0.000005
5,1980453,10,154062749,0,eth0,3245870,0,1394311920,0,0.000005,0.0,0.000005
6,1980462,10,154063409,0,eth0,3245885,0,1394317126,0,0.000005,0.0,0.000005
7,1980469,10,154063942,0,eth0,3245896,0,1394322627,0,0.000005,0.0,0.000005
8,1980477,10,154064556,0,eth0,3245910,0,1394327795,0,0.000005,0.0,0.000005
9,1980486,10,154065187,0,eth0,3245922,0,1394333342,0,0.000005,0.0,0.000005
10,1980494,10,154065801,0,eth0,3245936,0,1394338532,0,0.000005,0.0,0.000005
11,1980256,10,154047997,0,eth0,3245621,0,1394221103,0,0.000005,0.0,0.000005
12,1980264,10,154048611,0,eth0,3245635,0,1394226256,0,0.000005,0.0,0.000005
13,1980272,10,154049190,0,eth0,3245647,0,1394231803,0,0.000005,0.0,0.000005
14,1980280,10,154049804,0,eth0,3245661,0,1394236968,0,0.000005,0.0,0.000005
15,1980288,10,154050389,0,eth0,3245672,0,1394242462,0,0.000005,0.0,0.000005
16,1980297,10,154051049,0,eth0,3245687,0,1394247690,0,0.000005,0.0,0.000005
17,1980502,10,154066386,0,eth0,3245947,0,1394344043,0,0.000005,0.0,0.000005
18,1980511,10,154067046,0,eth0,3245962,0,1394349254,0,0.000005,0.0,0.000005
19,1980518,10,154067579,0,eth0,3245973,0,1394354758,0,0.000005,0.0,0.000005
20,1980526,10,154068193,0,eth0,3245987,0,1394359890,0,0.000005,0.0,0.000005
21,1980533,10,154068726,0,eth0,3245998,0,1394365391,0,0.000005,0.0,0.000005
22,1980542,10,154069386,0,eth0,3246013,0,1394370600,0,0.000005,0.0,0.000005
23,1980304,10,154051582,0,eth0,3245698,0,1394253179,0,0.000005,0.0,0.000005
24,1980313,10,154052242,0,eth0,3245713,0,1394258388,0,0.000005,0.0,0.000005
25,1980321,10,154052827,0,eth0,3245724,0,1394263923,0,0.000005,0.0,0.000005
26,1980329,10,154053441,0,eth0,3245738,0,1394269107,0,0.000005,0.0,0.000005
27,1980401,10,154058914,0,eth0,3245792,0,1394279625,0,0.000005,0.0,0.000005
28,1980550,10,154069971,0,eth0,3246024,0,1394376096,0,0.000005,0.0,0.000005
29,1980558,10,154070585,0,eth0,3246038,0,1394381304,0,0.000005,0.0,0.000005
30,1980566,10,154071164,0,eth0,3246050,0,1394386838,0,0.000005,0.0,0.000005
31,1980574,10,154071778,0,eth0,3246064,0,1394392016,0,0.000005,0.0,0.000005
32,1980582,10,154072363,0,eth0,3246075,0,1394397518,0,0.000005,0.0,0.000005
33,1980617,10,154074989,0,eth0,3246106,0,1394404776,0,0.000005,0.0,0.000005
34,1980625,10,154075574,0,eth0,3246117,0,1394410303,0,0.000005,0.0,0.000005
35,1980633,10,154076188,0,eth0,3246131,0,1394415463,0,0.000005,0.0,0.000005
36,1980641,10,154076773,0,eth0,3246142,0,1394421005,0,0.000005,0.0,0.000005
37,1980650,10,154077433,0,eth0,3246157,0,1394426201,0,0.000005,0.0,0.000005
38,1980658,10,154078012,0,eth0,3246169,0,1394431721,0,0.000005,0.0,0.000005
39,1980809,10,154089101,0,eth0,3246405,0,1394528061,0,0.000005,0.0,0.000005
40,1980818,10,154089761,0,eth0,3246420,0,1394533266,0,0.000005,0.0,0.000005
41,1980826,10,154090340,0,eth0,3246432,0,1394538797,0,0.000005,0.0,0.000005
42,1980834,10,154090954,0,eth0,3246446,0,1394543947,0,0.000005,0.0,0.000005
43,1980843,10,154091585,0,eth0,3246458,0,1394549508,0,0.000005,0.0,0.000005
44,1980851,10,154092199,0,eth0,3246472,0,1394554622,0,0.000005,0.0,0.000005
45,1980859,10,154092778,0,eth0,3246484,0,1394560187,0,0.000005,0.0,0.000005
46,1980868,10,154093438,0,eth0,3246499,0,1394565402,0,0.000005,0.0,0.000005
47,1980876,10,154094023,0,eth0,3246510,0,1394570893,0,0.000005,0.0,0.000005
48,1980885,10,154094683,0,eth0,3246525,0,1394576123,0,0.000005,0.0,0.000005
49,1980892,10,154095216,0,eth0,3246536,0,1394581629,0,0.000005,0.0,0.000005

In [11]:
df_fsstat = pd.read_csv('/home/eguimard/DataStore/fsstat/fsstat.csv')

In [12]:
df_fsstat

     count  total_files  total_size_used  total_size_total  total_size_free
0      110      3740066      12773167104       20070475776       7297308672
1      110      3740066      12773167104       20070475776       7297308672
2      110      3740066      12773175296       20070475776       7297300480
3      110      3740066      12773191680       20070475776       7297284096
4      110      3740066      12773224448       20070475776       7297251328
..     ...          ...              ...               ...              ...
115    110      3740066      12773560320       20070475776       7296915456
116    110      3740066      12773568512       20070475776       7296907264
117    110      3740066      12773568512       20070475776       7296907264
118    110      3740066      12773568512       20070475776       7296907264
119    110      3740066      12773568512       20070475776       7296907264

[120 rows x 5 columns]

In [13]:
df_fsstat['ratio_used'] = df_fsstat['total_size_used'] / df_fsstat['total_size_total']

In [15]:
df_fsstat

,count,total_files,total_size_used,total_size_total,total_size_free,ratio
0,110,3740066,12773167104,20070475776,7297308672,0.636416
1,110,3740066,12773167104,20070475776,7297308672,0.636416
2,110,3740066,12773175296,20070475776,7297300480,0.636416
3,110,3740066,12773191680,20070475776,7297284096,0.636417
4,110,3740066,12773224448,20070475776,7297251328,0.636419
...,...,...,...,...,...,...
115,110,3740066,12773560320,20070475776,7296915456,0.636435
116,110,3740066,12773568512,20070475776,7296907264,0.636436
117,110,3740066,12773568512,20070475776,7296907264,0.636436
118,110,3740066,12773568512,20070475776,7296907264,0.636436
119,110,3740066,12773568512,20070475776,7296907264,0.636436